body{
    margin: 0;
    padding: 0;
}
header h3{
    background-color: #008ea1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40%;
    color: white;
    box-shadow: 2px 0px 5px black ;
}
.arrow{
    color: white;
    position: absolute;
    left: 25px;

}

.ph1, .ph2, .ph3{
    display: inline-block;
    font-weight: bold;
    margin-left: 20%;
    padding-top: 10px;
}


.bouton{
    position: absolute;
    bottom: 20px;
    right: 40px;
}
.plus{
    color: yellow;
    position: relative;
    top: 25%;
    left: 35%;
    font-size: 3em;
    font-weight: bold;
}
.h4{
    color: black;
    margin-bottom: 50px;
}
.esp{
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid black;
    
}
.collors{
    position: relative;
    left: 90%;
    border-radius: 30%;
}






/* .type{

} */